:root {
	font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;

	--primary-color: #ff6767;
	--secondary-color: #222;
	--tertiary-color: #f0f0f0;
}

body {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	font-family: 'Poppins', sans-serif;
}

.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 0 2px #ffeaea;
	outline: none;
}
